// Place all the styles related to the Histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.versions-table {
  width: 100%;
  table-layout: fixed;
}
.field-name {
  width: 10%;
  word-break: break-word
}
.prev-info, .next-info {
  border: gray solid 1px;
  border-radius: 4px;
  word-break: break-word;
  vertical-align: top;
}
.difference {
  width: 15%;
}
.history-navigation-links {
  display: flex;
  justify-content: space-between;
}